:host(.active) {
  min-width: 100vw;
  min-height: 100vh;
}

.reader-main {
  background-color: #f5f7fa;
  display: block;

  .container {

    .content {
      width: 90%;
      margin: 0 auto;

      .nav-bar {
        display: flex;
        flex-direction: row;
        a {
          color: #8492a6;
          text-decoration: none;
          margin: 5px;
        }
      }

      .post-title {
        font-size: 32px;
        line-height: 1.25;
        color: #324057;
        margin: 10px 0 20px 0;
      }

      .post-date {
        font-size: 14px;
        color: #324057;
      }

      .social-media {
        display: flex;
        flex-direction: row;
      }

      .post-image {
        width: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        img {
          vertical-align: middle;
        }
      }

      .post-content {
        font-size: 20px;
        color: #324057;
        line-height: 1.8;
        margin: 34px 0;
      }

    }

    @media only screen and (max-width: 570px) {
      padding: 40px 16px 100px 16px;

      .post-image {
        img {
          max-width: 300px;
        }
      }
    }
    @media (min-width: 576px) {
      max-width: 540px;
      .post-image {
        img {
          max-width: 520px;
        }
      }
    }

    @media (min-width: 768px) {
      max-width: 720px;
      padding: 0;
      margin: 0;
      .post-image {
        img {
          max-width: 680px;
        }
      }
    }

    @media (min-width: 992px) {
      max-width: 960px;
      .post-image {
        img {
          max-width: 920px;
        }
      }
    }

    @media (min-width: 1200px) {
      max-width: 1140px;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
      .post-image {
        img {
          max-width: 1120px;
        }
      }
    }

  }
}


