<main class="reader-main">
  <section class="container">
    <section class="content">
      <section class="nav-bar">
        <a routerLink="/home"> Home </a>
        <a href=""> Research Categories </a>
        <ng-container *ngFor="let category of categories">
          <ng-container *ngIf="post.categories == category.id">
            <a href=""> {{category.name}} </a>
          </ng-container>
        </ng-container>
      </section>
      <section class="post-title">
        {{post.title['rendered']}}
      </section>
      <section class="post-date">
        {{post.date | date: 'MMMM dd, yyyy'}}
      </section>
      <section class="social-media">
        <app-button [buttonLabel]="'share'" [buttonColor]="'#3b5998'"></app-button>
        <app-button [buttonLabel]="'Tweet'" [buttonColor]="'#1da1f2'"></app-button>
        <app-button [buttonLabel]="'Email'" [buttonColor]="'#7b7ff0'"></app-button>
      </section>
      <section class="post-image">
        <ng-container *ngFor="let image of media">
          <ng-container *ngIf="image.id == post.featured_media">
            <img [src]="image.guid['rendered']"/>
          </ng-container>
        </ng-container>
      </section>
      <section class="post-content">
        <p [innerHTML]="post.content['rendered']"></p>
      </section>
      <section>
        <h6>{{post.title['rendered']}}</h6>
      </section>
      <ng-container *ngFor="let author of authors">
        <ng-container *ngIf="author.id == post.author">
          <h6>{{author.name}}</h6>
        </ng-container>
      </ng-container>
      <section class="social-media">
        <app-button [buttonLabel]="'share'" [buttonColor]="'#3b5998'"></app-button>
        <app-button [buttonLabel]="'Tweet'" [buttonColor]="'#1da1f2'"></app-button>
        <app-button [buttonLabel]="'Email'" [buttonColor]="'#7b7ff0'"></app-button>
      </section>
    </section>
  </section>
</main>


