:host(.active) {
  min-width: 100vw;
  min-height: 100vh;
}

.reader-main {
  background-color: #f5f7fa;
  display: block;
}

.category {
  background-color: #F5F7FA;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  .category-header {
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    width: 97%;

    .category-title {
      color: #324057;
      padding: 10px;
      font-family: 'Open Sans', sans-serif;
      font-size: 24px;
      line-height: 1.33;
      position: relative;
    }
    .all-posts {
      box-sizing: inherit;
      font-size: 14px;
      text-decoration: none;
      max-width: 82px;
      a {
        color: #8492a6;
      }
    }

  }
  .horizontal-line {
    margin-top: 15px;
    border-top: 1px solid #d3dce6;
    margin-bottom: 1rem;
    width: 98%;
  }

  .single-post {
    display: flex;
    flex-direction: column;
    color: black;
    max-width: 540px;
    border: 1px solid lightgray;
    border-radius: 4px;
    margin: 15px 15px;
    background-color: white;
    position: relative;

    .post-link {
      text-decoration: none;

      .post-image {
        border: 1px none #ddd;
        border-radius: 4px 4px 0px 0px;
        max-width: 100%;
        height: 300px;
        vertical-align: middle;
      }

      .post-title {
        text-align: left;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        color: #324057;
        font-weight: 700;
        line-height: 1.4;
        padding: 10px;

      }
      .post-title:hover {
        text-decoration: underline;
      }
    }
    .post-content {
      padding: 10px;
      padding-top: 0;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      line-height: 1.71;
      text-align: left;
      color: #324057;
      padding-bottom: 25px;
    }
    .post-date {
      font-size: 12px;
      color: #324057;
      margin-top: 5px;
      padding: 10px;
      position: absolute;
      bottom: 0
    }

  }

  @media screen and (max-width: 600px) {
    .category-title {
      text-align: left;
      padding-left: 60px;
      padding-bottom: 1px;
      float: right;
    }
    .all-posts {

    }
    .single-post {
      max-width: 550px;
    }
  }

  @media screen and (min-width: 601px) {
    width: 630px;
    margin: 15px auto;

    .category-header, .horizontal-line {
      width: 85%;
    }

    .category-title {
      text-align: left;
    }
    .single-post {
      max-width: 600px;
    }
  }

  @media screen and (min-width: 900px) {
    width: 870px;
    margin: 15px auto;
    .category-header, .horizontal-line {
      width: 94%;
    }
    .category-title {
      text-align: left;
    }
    .single-post {
      max-width: 400px;
    }
  }

  @media screen and (min-width: 1024px) {
    width: 1000px;
    margin: 15px auto;
    .category-header, .horizontal-line {
      width: 92%;
    }

    .category-title {
      text-align: left;
    }
    .single-post {
      max-width: 450px;
    }
  }

  @media screen and (min-width: 1300px) {
    width: 1200px;
    margin: 15px auto;
    .category-header, .horizontal-line {
      width: 93%;
    }
    .category-title {
      text-align: left;
    }
    .single-post {
      max-width: 540px;
    }
  }
}
