<main class="reader-main">
  <!--LOOP THROUGH THE ARRAY WITH WITH ALL CATEGORIES AND POSTS-->
  <ng-container *ngFor="let posts of AllCategories" class="category">
    <div class="category">
      <!--LOOP THROUGH POSTS OF A SPECIFIC CATEGORY-->
      <ng-container *ngFor="let post of posts let i = index">
        <!--LOOP THROUGH CATEGORIES TO GET CATEGORY TITLE-->
        <ng-container *ngFor="let category of categories">
          <!--IF THE POST-CATEGORY-ID MATCHES THE CAGORY-ID-->
          <ng-container *ngIf="post.categories == category.id">
            <!--CONDITION TO DISPLAY CATEGORY TITLE ONLY ONCE-->
            <ng-container *ngIf="i == 0">
              <!--DISPLAY CATEGORY TITLE-->
              <div class="category-header">
                <div class="category-title"
                     [innerHTML]="category.name">
                </div>
                <div class="all-posts">
                  <a [routerLink]="['/category',category.id]">view All</a>
                </div>
              </div>
              <hr class="horizontal-line">
            </ng-container>
          </ng-container>
        </ng-container>
        <!--CONDITION TO DISPLAY ONLY 2 POSTS PER CATEGORY-->
        <ng-container *ngIf="i<2">
          <article class="single-post">
            <!--MAKES A LINK ON "SINGLE-POST"-->
            <a [routerLink]="['/research',post.id]" class="post-link">

              <ng-container *ngFor="let image of media">
                <!--CONDITION TO DISPLAY THE FEATURED IMAGE-->
                <ng-container *ngIf="image.id == post.featured_media">
                  <img class="post-image" [src]="image.guid['rendered']"/>
                </ng-container>
              </ng-container>
              <!--DISPLAY POST TITLE-->
              <h4 class="post-title">{{post.title['rendered']}}</h4>
            </a>
            <!-- DISPLAY POST EXCERPT -->
            <div class="post-content"
                 [innerHTML]="post.excerpt['rendered']">
            </div>
            <div class="post-date">
              {{"Published on "}}{{ post.date | date: 'MMMM, yyyy'}}
            </div>
          </article>

        </ng-container>
      </ng-container>
    </div>
  </ng-container>
</main>
